@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */

		.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
			display: none;
		}

		.react-horizontal-scrolling-menu--scroll-container {
			scrollbar-width: none;
			-ms-overflow-style: none;
		}
	}
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}

.slider-container {
	max-width: 100vw;
	width: 100%;
	overflow: hidden;
}

.post-image-slide {
	.slick-dots {
		bottom: 25px;

		li button:before {
			color: white;
			opacity: 0.4;
		}

		li.slick-active button:before {
			color: white;
			opacity: 1;
		}
	}

	.slick-prev,
	.slick-next {
		z-index: 1;
	}

	.slick-prev {
		left: 14px;
	}

	.slick-next {
		right: 14px;
	}
}

html.dark {
	.react-loading-skeleton {
		--base-color: #38444d;
	}
}

/* #15202B */
